<%-include('./partials/header')%>
 <!-- own css sheets -->
 <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

    <div class="container-fluid">

        <div class="row">

            <!-- Navbar -->
            <%-include('./partials/navbar')%>

            <div class="main-container col-10 col-md-8 col-lg-6">

                <h1 class="fw-bold container-title">Home</h1>

                <!-- Modal -->
                <%-include('./partials/modal')%>

                <div class="post-container">
                    <div class="userImage-container">
                        <img src="<%=currentUser.profilePic%>" alt="User Image">
                    </div>

                    <div class="textarea-container">
                        <textarea id="post-text" rows="3" cols="30" placeholder="what's happening?"></textarea>
                        <button id="postSubmitBtn">Post</button>
                    </div>
                </div>

                <div>
                    <div class="postsContainer"></div>
                </div>
                
            </div>
        </div>
    </div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/jQuery.js"></script>
<script src="/js/common.js"></script>
<%- include("./partials/footer") %>